.landingHero{
  padding:20%;
  max-height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 0%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgCarosello{
  height: 400px;
  width: 400px;
  background-size: cover;
  border-radius: 10px;
}

.carosello{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@font-face {
  font-family: "allien";
  src: local("allien"), url(alliens.otf) format("opentype");
}

.heroContainer{
}

.heroTitle{
  font-family: "allien";
  font-size: 8vw;
  color: red;
}

.caroselloTitle {
  font-family: "allien";
  text-align: center;
  font-size: 15vh;
  margin-top: 5vh;
  color: black;
}

.aboutTitle{
  font-family: "allien";
  font-size: 8vh;
  color: red;
}

.lowerSection{
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}
