body{
  background-color: #1B2021 !important;
}

.landingHero{
  padding:10%;
  padding-bottom: 20%;
  max-height: 1000px;
  width: 100%;
  top: 10%;
  background-position: 0%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgCarosello{
  height: 400px;
  width: 400px;
  background-size: cover;
  border-radius: 10px;
}

.carosello{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@font-face {
  font-family: "allien";
  src: local("allien"), url(alliens.otf) format("opentype");
}

.heroContainer{
}

.heroTitle{
  font-family: "Montserrat";
  font-size: 8vw;
  color: red;
}

.caroselloTitle {
  font-family: "allien";
  text-align: center;
  font-size: 15vh;
  margin-top: 5vh;
  color: #D2C2C3;
}

.aboutTitle{
  font-family: "allien";
  font-size: 8vh;
  color: #D2C2C3;
}

.lowerSection{
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.navContainer{
  background-image: url("./images/triangle.svg");
}



.logo{
  text-align: center;
  margin: 0 auto;
}
