body{
  background-color: #1B2021 !important;
  background-image: url("./images/invasion.png");
  top: 10%;
  background-position: 0%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingHero{
  padding:10%;
  padding-bottom: 20%;
  max-height: 1000px;
  width: 100%;

}

.imgCarosello{
  height: 400px;
  width: 400px;
  background-size: cover;
  border-radius: 10px;
}

.carosello{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@font-face {
  font-family: "allien";
  src: local("allien"), url(alliens.otf) format("opentype");
}

.heroContainer{
}

.heroTitle{
  font-family: "Montserrat";
  font-size: 8vw;
  color: red;
}

.caroselloTitle {
  font-family: "allien";
  text-align: center;
  font-size: 15vh;
  margin-top: 5vh;
  color: #D2C2C3;
}

.aboutTitle{
  font-family: "allien";
  font-size: 8vh;
  color: #D2C2C3;
}

.lowerSection{
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}


.logo{
  text-align: center;
  margin: 0 auto;
}


.cylonNav::before{
  background-image: url("./images/tilt.svg");
  color: #D2C2C3 !important;
  height: 100px;
}

.cylonNav::before{
  rotate: scaleX(-1);
}


.navElement{
  color: #D2C2C3 !important;
  font-family: "allien";
  font-size: 3vh !important;
}

.logoIMG{
  text-align: center;
  margin: 0 auto;
}